<p>Time: <%= @break.break_time %> </p>
<p>
  <a href="<%= @break.animal_video %>">Video</a>
</p>
<p>Category: <%= @break.category %> </p>

<hr>

<a href="/breaks">
  Take me back to All the Breaks
</a>
