<h1>All Students</h1>

<ul>
    <% @students.each do |student|%>

        <li><%= link_to student.name , student_path(student)%></li>

    <%end%>
</ul>

<%= link_to "Add New Student" , new_student_path%>

