<h1>New Break form</h1>

<form method="POST" action="/breaks">
  <label for="break_time">Break Time</label>
  <input type="text" name="break_time" id="break_time">

  <br>
  <label for="animal_video">Animal Video</label>
  <input type="text" name="animal_video" id="animal_video">

  <br>
  <label for="length">Length</label>
  <input type="text" name="length" id="length">

  <br>
  <label for="category">Category</label>
  <input type="text" name="category" id="category">

  <br>
  <input type="submit" value="Log a new break!">

</form>
