<h1>Editing <%= @pet.name %> </h1>

<%# When a form_for takes in an instance of a Pet with an ID, the form will automatically make a request to PATCH "/pets/:id" when submitted %>

<%= render "form" %>
